<div class="row">
    <div class="col-sm-8">
        <h1>Articles</h1>
    </div>
    <div class="col-sm-4">
        <form>
            <select name='sort' id='sort'>
                <option   value=>Choose Sort Field</option>
                <option   value=topic>Topic</option>
                <option   value=title>Title</option>
                <option   value=helpful_count>Likes</option>
                <option   value=updated_at>Latest Update</option>
            <input id="sort_button" type="submit" value="Sort" />         
        </form>
    </div> 
</div>

<table class="table" id="articles_table">
    <thead>
        <tr>
            <th scope="col">Topic</th>
            <th scope="col">Title</th>
            <th scope="col">Likes</th>
            <th scope="col">Last Update</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script id="article-index-template" type="text/x-handlebars-template">
    {{#each this}}
        <tr>
            <th scope="row">{{topic.name}}</th>
            <td><a href="/articles/{{article.id}}">{{title}}</a></td>
            <td>{{helpful_count}}</td>
            <td>{{updated_at_time}}</td>
        </tr>
    {{/each}}
</script>
<%= javascript_include_tag('article_index.js') %>