<h1>Topics</h1>
<div class="indent">
    <ul class="list-unstyled">
    <% @topics.each do |topic| %>
        <li>
            <%= topic.name %>
            <%= link_to "Browse Articles", topic_path(topic.id) %>
        </li>
    <% end %>
    </ul>
</div>



