<h1>Articles by Topic</h1>
<ul>
<% @topics.each do |topic| %>
    <li><%= topic.name %></li>
    <ul>
        <% topic.articles.each do |article| %>
            <li><%= link_to article.title, topic_article_path(topic,article) %>
            <% if is_admin? %>
                <%= link_to "Delete", { :controller => 'articles',  :action=>"destroy", 
                :id => article.id, :topic_id => topic.id} , :method => :delete %>
                <%= link_to "Edit", { :controller => 'articles',  :action=>"edit", 
                :id => article.id, :topic_id => topic.id} %>
            <% end %>   
            </li>         
        <% end %>
    </ul>
<% end %>
                                              