
<blockquote>
‘ike - fact of knowing about something; understanding, familiarity with information
<footer>Hawaiian - English Dictionary</footer>
</blockquote>
<p>‘ike is a knowledbase content management webapp.  The goal is to allow a group of one, or 
more administrators, share expert knowledge throught articles.  For demonstration purposes, 
the database is seeded with information on plants and gardening.</p>
<p>This webapp was developed as a Rails project for the Flatiron Full Stack Bootcamp program.</p>
<h4>General User Functionality</h4>
<ul>
<li>Browse and search topics and articles</li>
<li>Bookmark articles</li>
<li>Mark articles as helpful</li>
</ul>
<h4>Admin User Functionality</h4>
<ul>
<li>Browse and search topics and articles</li>
<li>Bookmark articles</li>
<li>User admin - delete users, change user names or emails</li>
<li>Create, edit and delete articles</li>
<li>Create, edit and delete topicss</li>
</ul>
<h4>Applicaction Access</h4>
<p>For demonstation purposes, anyone can "sign up" for general access.  The 
sign up uses email for user id but the email is not used for any other purposes.  Note that 
passwords cannot be reset.  For general access, Google login can also be used.</p>
<p>Admin users can only be created through the admin functions</p>


