
<blockquote class="outlined-section">
‘ike - fact of knowing about something; understanding, familiarity with information
<footer class="blockquote-footer">Hawaiian - English Dictionary</footer>
</blockquote>
<p>‘ike is a knowledbase content management webapp.  The goal is to allow a group of one, or 
more administrators, share expert knowledge throught articles.  For demonstration purposes, 
the database is seeded with information on plants and gardening.</p>
<p>This webapp was developed as a Rails project for the Flatiron Full Stack Bootcamp program.</p>
<div class="indent">
<h4>General User Functionality</h4>
    <ul>
    <li>Browse articles.  Article index can be sorted by topic, title, and other fields.</li>
    <li>Bookmark articles</li>
    <li>Mark articles as helpful</li>
    </ul>
    <h4>Admin User Functionality</h4>
    <ul>
    <li>User admin - delete users, change user names or emails</li>
    <li>Create, edit and delete articles</li>
    <li>Create, edit and delete topicss</li>
    </ul>
</div>
<h4>Application Access</h4>
<p>For demonstation purposes, anyone can "sign up" for general access, or login through GitHub.  The 
‘ike sign up uses email for user id but the email is not used for any other purposes.  Note that 
passwords cannot be reset. </p>
<p>Admin users can only be created through the admin functions</p>


