/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 30px;
} 

.navbar-brand {
  height: 58px;
 }
 .navbar-nav > li > a {
  padding-top: 35px;
}
.navbar {
  border: 1px solid #FFED53;
}
.form-area {
  background:#f8f8f8;;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 1px solid #FFF6A9; // to look thinner than #FFED53;
  border-radius: 10px;
}
.notice {
  margin:2em;
  color: red;
  font-style: bold;
}
h1 {
  color: #0F4C9B;
}
.form-area label {
  color: #0F4C9B;
}
// .theme-dropdown .dropdown-menu {
//   position: static;
//   display: block;
//   margin-bottom: 20px;
// }

// .theme-showcase > p > .btn {
//   margin: 5px 0;
// }

// .center {
//   text-align: center;
// }

// .pic,
// .info {
//   padding: 20px;
//   display: inline-block;
//   background-color: #eeeeee;
//   border-radius: 7px;
//   vertical-align: middle;
//   margin: 10px;
// }

// .info {
//   height: 290px;
//   text-align: left;
// }
